<div class="subscription_container">
    <%# <% byebug %> 
    <%# <%= button_to [:create_subscription_plan_path, @company] do %>
        <%# Get Started
    <% end %> 

    <%= button_to "Get Started", create_subscription_plan_path(@company.id), method: :create %>
</div>


