// Place all the styles related to the SubscriptionPlansController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #ececec;
}


/* TABLE */

.subscription-container {
    margin-top: 15px;
}


/* "popular" row of columns */
.popular-row {
    height: 30px;
}

.popular-box {
    margin-right: 0px;
    margin-left: 4px; 
    height: inherit;
    width: 23%;
    border: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.most-popular {
        background-color: #FFBF00;
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .popular-box {
        margin-right: 0px;
        margin-left: 4px; 
        height: inherit;
        width: 23%;
        border: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &.most-popular {
            background-color: #FFBF00;
            font-weight: 400;
            font-size: 9px;
        }
    }
}


/* tier name boxes */
.tier-name {
    min-height:300px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
}

.tier-name i.fa-solid {
    margin-top: 10%;
}

.tier-name span {
    &.current-plan-time-remaining {
        margin-top: 23%;
    };
    
    &.price {
        font-weight: 400;
        font-family: futura;
    }
}

.tier-primary-text {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .tier-primary-text {
        font-size: 14px;
        overflow-wrap: initial;
    }
}


/* option boxes */
.option-box {
    margin-right: 4px;
    margin-left: 4px; 
    height: auto;
    min-height: 75px;
    overflow-wrap: break-word;
    width: 23%;
    font-weight: 400;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
};

@media screen and (max-width: 600px) {
    .option-box {
        font-size: 10px;
        overflow-wrap: initial;
    }
}


/* feature name boxes */
.features-box {
    margin-bottom: 1px;
    height: auto;
    min-height: 75px;
    overflow-wrap: break-word;
    width: 23%;
    text-align: start;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3%;

    &.sub-plan-pricing {
        font-size: 25px;
        font-family: futura;
    }

    &.addon-title-box {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .features-box {
        font-size: 10px;
        overflow-wrap: inherit;

        &.sub-plan-pricing {
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.checkmark {
    color: #00C78C;
}


/* business tier column */
.business {
    border-left: solid 2px #FFBF00;
    border-right: solid 2px #FFBF00;

    &.last {
        border-bottom: solid 2px #FFBF00;
    }
}


/* Get Started button */

.subscription-container .button_to {
    margin-bottom: 3%;
}

.subscription-container .button_to input {
    background-color: #1F51FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    vertical-align: middle;
    margin-top: 6%;
    width: 85%;
    line-height: normal;
}

@media screen and (max-width: 600px) {
    .subscription-container .button_to input {
        font-size: 9px;
        width: 100%;
        padding-bottom: 30%; 
        padding-left: 5%;
        padding-right: 5%;
    }
}


/* FAQs */
.faq-title-box {
    margin-bottom: 1px;
    height: auto;
    min-height: 75px;
    width: 23%;
    text-align: start;
    font-weight: 600;
    line-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
}

.accordion {
    width: 95%;
    margin-bottom: 5%;
}

.accordion-button {
    font-size: 20px;
    font-weight: 600;
    padding: 3%;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 0px white
}

#panelsStayOpen-collapseOne p{
    display: list-item;
    margin-left: 3%;
}