// Place all the styles related to the SubscriptionPlansController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #ececec;
}

.option-box {
    margin-right: 4px;
    // margin-bottom: 1px;
    margin-left: 4px; 
    height: auto;
    min-height: 75px;
    // max-height: 100vh;
    overflow-wrap: break-word;
    // text-align: center;
    width: 23%;
    font-weight: 400;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features-box {
    margin-bottom: 1px;
    height: auto;
    min-height: 75px;
    overflow-wrap: break-word;
    width: 23%;
    text-align: start;
    font-weight: 600;
    line-height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.faq-title-box {
    margin-bottom: 1px;
    height: auto;
    min-height: 75px;
    width: 23%;
    text-align: start;
    font-weight: 600;
    line-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
}

.tier-name {
    min-height:300px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
}

.tier-name i.fa-solid {
    margin-top: 10%;
}

.tier-name span {
    &.current-plan-time-remaining {
        margin-top: 23%;
    };
    
    &.price {
        font-weight: 600;
    }
}


.business {
    border-left: solid 2px #FFAC1C;
    border-right: solid 2px #FFAC1C;

    &.last {
        border-bottom: solid 2px #FFAC1C;
    }
}


.subscription-container {
    margin-top: 30px;
}

.subscription-container .button_to input {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    vertical-align: middle;
    margin-top: 8%;
    width: 85%;
    line-height: normal;
}

@media screen and (max-width: 600px) {
    .subscription-container .button_to input {
        font-size: 5px;
    }
}

.accordion-button {
    font-size: 20px;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}

.accordion {
    width: 95%;
}



